#export KERNDIR=$HOME\/.cache/autokern
#export DLCOM="curl -LO
#export COMPTHREADS=`nproc`
#export KERNVER=""
#export AUTOKERNVERB=""
#export AUTOKERKCONF=$HOME\/.config/autokern
#export KERNSUFFIX=1
