### for more information regarding the following options consult the manual with `autokern -h`
#export KERNDIR=$HOME\/.cache/autokern
#export DLCOM="curl -LO"
#export COMPTHREADS=`nproc`
#export KERNVER=""
#export AUTOKERNVERB=""
#export AUTOKERKCONF=$HOME\/.config/autokern
#export KERNSUFFIX=1
